@model IEnumerable<FastReportIntegrateWithStoreProcedureInAspNetCore6.Entity.TblProduct>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product List</h1>

<p>
    <a asp-action="Create" class="btn btn-info">Adding New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Description
            </th>
            <th>
                Posting Date
            </th>
            <th>
                Category
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TblCategory.CategoryName)
            </td>
            <td class="btn-group">
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-info">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-success">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
